body {
    background-color:seagreen;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:cadetblue;
    text-align: center;
}

.assign {
    margin: 10px;
    padding: 10px;
    background-color:darkseagreen;
    display: flex;
}
